.cv_block {
  display: flex;
  justify-content: center;
  padding: 6px 10px;
  overflow: hidden;
}

.cv_block_back {
  background: var(--tab);
  margin: 3px 0;
  border-radius: 7px;
}



/* SLIDER */
.c_range {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 4px;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  background: var(--dark);
  background-repeat: no-repeat;
  background-image: linear-gradient(var(--prim), var(--prim));
}

.c_range::-webkit-slider-runnable-track {
  width: 100%;
  cursor: pointer;
}

.c_range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: var(--prim);
  cursor: pointer;
}

.c_range::-webkit-slider-thumb:hover {
  filter: brightness(1.15);
}

.c_range::-moz-range-track {
  width: 100%;
  cursor: pointer;
}

.c_range::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border: none;
  border-radius: 10px;
  background: var(--prim);
  cursor: pointer;
}

.c_range::-moz-range-thumb:hover {
  filter: brightness(1.15);
}

/* SLIDER2 */
.c_rangeW {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  height: 35px;
  padding: 0;
  margin: 0;
  background: var(--dark);
  background-repeat: no-repeat;
  background-image: linear-gradient(var(--prim), var(--prim));
  border-radius: 5px;
  cursor: pointer;
}

.c_rangeW:hover {
  filter: brightness(1.15);
}

.c_rangeW::-webkit-slider-runnable-track {}

.c_rangeW::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1px;
  width: 1px;
}

.c_rangeW::-webkit-slider-thumb:hover {
  filter: brightness(1.15);
}

.c_rangeW::-moz-range-track {}

.c_rangeW::-moz-range-thumb {
  -moz-appearance: none;
  outline: none;
  border: none;
  background: none;
  height: 1px;
  width: 1px;
}

.sldW_out {
  margin-left: -110px;
  pointer-events: none;
  text-align: right;
  z-index: 1;
  width: 100px;
  padding-right: 10px;
}

/* mics */
.sld_name {
  display: flex;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* table */
.c_table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 4px;
}

.c_table td,
.c_table th {
  border: 1px solid var(--font3);
  padding: 4px 8px;
}

.c_table tr:nth-child(even) {
  /*background-color: var(--font2);
    color: black;*/
}

.c_table tr:hover {
  /*background-color: var(--font2);*/
}

.c_table th {
  /*background-color: var(--prim);
    color: white;*/
}

/* =================================== */
/* ============= CONTROL ============= */
/* =================================== */
.control {
  font-size: 17px;
  background: var(--tab);
  padding: 8px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1px;
  white-space: nowrap;
  min-height: 35px;
  border-radius: 7px;
  scrollbar-width: none;
  max-width: var(--ui_width);
  margin: 3px auto 3px auto;
}

.control_nob {
  margin-top: 8px;
  background: none;
  /*justify-content: space-around;*/
  overflow-x: hidden;
}

.control_title {
  color: var(--font2);
  font-size: 22px;
  font-weight: 500;
  background: none;
  justify-content: center;
  margin: 0 auto;
}

.control_scroll {
  overflow-x: scroll;

}

.control::-webkit-scrollbar {
  display: none;
}

.c_label {
  text-align: right;
  width: unset;
  min-width: 110px;
  font-size: 20px;
}

.c_label_tab {
  text-align: center;
  font-size: 40px;
}

.c_inp_block {
  display: block;
  color-scheme: var(--scheme);
  width: unset;
  font-weight: 500;
  cursor: pointer;
  background: none;
  color: var(--font);
  box-shadow: none;
  border-radius: 5px;
}

.Ñ_inp_fix {
  min-width: 180px !important;
}

.c_inp_block_tab {
  border-radius: 0;
  background: none;
  width: unset;
  color: var(--prim);
  font-size: 20px;
  padding: 0;
  margin: 0;
  max-width: unset;
}

.c_inp_block_tab::-webkit-inner-spin-button,
.c_inp_block_tab::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

select {
  /* min-width: 120px !important;
    background: var(--back) !important;
    padding: 0 8px !important; */
}

select option {
  background: var(--tab);
  color: var(--font);
  border: none;
  outline: none;
}

.datime {
  width: 140px;
  color: var(--prim);
}

.datime_w {
  width: 230px;
}

.c_col {
  padding: 0px;
  background: none;
  width: 35px;
  height: 40px;
  outline: none;
  border: none;
  cursor: pointer;
}

.c_col_tab {
  width: 50px;
  height: 50px;
}

img.colorpick-eyedropper-input-trigger {
  display: none;
}


/* LED */
.led_cont {
  margin: 0px 2px -10px 2px;
  position: relative;
  display: inline-block;
  width: 28px;
  height: 28px;
}

.led_cont input {
  display: none;
}

.led {
  position: absolute;
  top: -5px;
  left: 0;
  right: 0;
  bottom: 5px;
}

.led:before {
  border-radius: 50%;
  position: absolute;
  content: '';
  height: 28px;
  width: 28px;
  background: #cb1a1a;
  box-shadow: inset 1px 3px 0px 0px #fff7;
}

input:checked+.led {}

input:checked+.led:before {
  background: #33c00b;
  box-shadow: inset 1px 3px 0px 0px #fff7;
}

/* SWITCH_I */
.switch_i_cont {
  position: relative;
  display: inline-block;
  margin: -45px 45px 0 0;
  width: 0px;
  height: 0px;
}

.switch_i_cont input {
  display: none;
}

.switch_i {
  position: absolute;
  border-radius: 50%;
  font-weight: bold;
  font-family: 'Font Awesome 5 Free';
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 45px;
  height: 45px;
  font-size: 35px;
  cursor: pointer;
  color: var(--black);

  /*box-shadow: 0px 0px 0px 2px var(--prim);
    color: var(--prim);*/
}

input:checked+.switch_i {
  /*color: var(--back);*/
  /*text-shadow: 0 0 2px var(--prim);
    color: var(--prim);*/
  /*background: #33c00b;
    background: var(--prim);*/
  color: var(--prim);
}

/* LED I tab */
.led_i {
  justify-content: center;
  cursor: default;
  color: #cb1a1a;
}

.led_i_cont {
  position: relative;
  display: inline-block;
  margin: -45px 45px 0 0;
  width: 0px;
  height: 0px;
}

.led_i_cont input {
  display: none;
}

.led_i_cont_tab {
  margin: -70px 70px 0 0;
  width: 0px;
  height: 0px;
}

.led_i_tab {
  justify-content: center;
  width: 70px;
  height: 70px;
  font-size: 37px;
}

input:checked+.led_i_tab {
  color: #33c00b;
}

/* SWITCH I tab */
.switch_i_cont_tab {
  margin: -65px 65px 0 0;
  width: 0px;
  height: 0px;
}

.switch_i_tab {
  justify-content: center;
  width: 65px;
  height: 65px;
  font-size: 40px;

  /*box-shadow: 0 0 0 3px var(--black), 0 0 4px 3px var(--black), 0 0 4px 0 inset var(--black);*/
  box-shadow: 0 0 0 2px var(--prim);
  color: var(--prim);
}

input:checked+.switch_i_tab {
  /*box-shadow: 0 0 0 3px var(--prim), 0 0 4px 3px var(--prim), 0 0 4px 0 inset var(--prim);
    text-shadow: 0 0 4px var(--prim);*/
  background: var(--prim);
  color: var(--font_inv);
}

/* SWITCH TXT */
.switch_txt {
  font-family: var(--font_f);
  font-weight: 600;
  font-size: 25px;
}

.switch_txt_tab {
  font-size: 25px;
}

/* NAVTAB */
.navtab>ul {
  padding: 0;
  display: flex;
  list-style-type: none;
  margin: 15px 0;
  flex-direction: row;
  overflow-x: scroll;
  white-space: nowrap;
  scrollbar-width: none;
}

.navtab ul::-webkit-scrollbar {
  display: none;
}

.navtab>ul>li {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--font);
  padding: 8px 12px;
  margin-bottom: 4px;
  box-shadow: 0px 5px #0000;
}

.navtab>ul>li:hover {
  filter: brightness(0.8);
}

.navtab .tab_act {
  color: var(--prim) !important;
  box-shadow: 0px 4px var(--prim) !important;
}

/* NAVTAB TAB */
.navtab_tab {
  width: 100%;
}

.navtab_tab>ul {
  padding: 0;
  display: flex;
  list-style-type: none;
  font-size: 19px;
  flex-direction: row;
  overflow-x: scroll;
  white-space: nowrap;
  scrollbar-width: none;
  margin: 0;
  /*background: var(--back);
    border-radius: 10px;
    padding: 7px;
    margin: 0;*/
}

.navtab_tab ul::-webkit-scrollbar {
  display: none;
}

.navtab_tab>ul>li {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--font);
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
}

.navtab_tab>ul>li:hover {
  /*filter: brightness(0.8);*/
  background: var(--back);
}

.navtab_tab .tab_act {
  background: var(--prim) !important;
  color: var(--tab);
  font-weight: 600;
}

/* FLAGS */
.chbutton {
  margin: 7px 2px -2px 2px;
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
}

.chbutton_s {
  border-radius: 35px;
  display: flex;
  position: absolute;
  cursor: pointer;
  width: 30px;
  height: 30px;
  top: -5px;
  left: -4px;
  background: var(--dark);
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: var(--font);
}

.chbutton_s:hover {
  background: var(--black);
}

input:checked+.chbutton_s {
  background: var(--prim);
  color: white;
}

.chbutton_cont {
  display: flex;
  margin-left: 20px;
  flex-wrap: wrap;
  margin-right: -5px;
}

.chbutton_cont_tab {
  justify-content: center;
}

.spinner {
  width: 50px;
  background: none;
  margin: 0px 5px;
  color: var(--font2);
  text-align: center;
  padding: 0 2px;
  font-size: 19px;
}

.spinner_row {
  display: flex;
  align-items: center;
}



.c_disp {
  background: var(--prim);
  color: white;
  font-size: 40px;
  overflow: hidden;
  resize: none;
  cursor: default;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 4px;
}

.c_text {
  color: var(--font2);
  font-size: 15px;
  white-space: pre-wrap;
}

.chtext_s {}

.chtext {
  border-radius: 10px;
}

.joyCont {
  width: 100%;
  height: 100%;
  touch-action: none;
}

.canvas_act {
  cursor: pointer;
}