.widget_row {
  display: flex;
  min-height: 50px;
  box-sizing: border-box;
}

.widget_col {
  box-sizing: border-box;
}

.widget_main {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 3px;
}

.widget_inner {
  background: var(--tab);
  width: 100%;
  height: 100%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3px 0px 0px inset #ffffff05, 0 0 10px 0px #00000021, 0px -3px 1px 0px inset #00000010;
  overflow: hidden;
  /*0px -3px 0px 0px inset #00000030*/
}

.widget_label {
  font-size: 11px;
  color: var(--font3);
  margin: 3px 5px -4px 5px;
  /* text-transform: uppercase; */
  white-space: nowrap;
  overflow-x: clip;
}

.plabel {
  padding-left: 1px;
}

.wsuffix {
  float: right;
}

.widget_label_name {
  text-transform: none !important;
  user-select: text !important;
}

.widget_body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 6px;
  min-height: 25px;
}

.wdisabled {
  opacity: 45%;
}

.wnotab {
  background: none;
  box-shadow: none;
}

.wsquare {
  aspect-ratio: 1;
}

.wnolabel {
  display: none;
}

.whint {
  display: none;
  color: var(--back);
  background: var(--font3);
  cursor: pointer;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  line-height: 12px;
  text-align: center;
  margin-right: 3px;
}

.disable {
  cursor: default !important;
  user-select: none;
}

.disable:hover {
  filter: brightness(1) !important;
}

.disable:active {
  filter: brightness(1) !important;
}

.cont_title {
  text-align: center;
  font-size: 28px;
  padding-top: 6px;
  padding-bottom: 3px;
}

.spoiler_title {
  font-size: 28px;

}